{% extends 'base.html'%}

{% block content %}
    <head>
        <title>Homepage</title>
      </head>
        <div><b>{{user}}</b> Balance: $ {{user.wallet}} </div>
        {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <hr></hr>
        <h3>Homepage</h3>
        <a href="{% url 'myorders' %}">My orders</a>

        <div>
            <h4>Products:</h4>
            <ul>
                {% for product in object_list %}
                    <li>
                        <h4>
                            {{ product.name }}
                        </h4>
                        <div>{{ product.description }}</div>
                        <div><small>in stock: {{product.stock_amount}}</small></div>
                        <div><b>$ {{ product.price }}</b></div>
                        <form method="post" action="{% url 'purchase' %}">
                            {% csrf_token %}
                            {{form}}
                            <input type="hidden" name="productID" value="{{product.pk}}">
                            <input type="submit" value="Buy">
                        </form>
                        <hr>
                    </li>
                {% empty %}
                    <li>No products yet.</li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}