{% extends 'base.html'%}

{% block content %}

<head>
    <title>My orders</title>
</head>
<div><b>{{user}}</b> Balance: $ {{user.wallet}} </div>
{% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
<hr>
</hr>
<a href="{% url 'index' %}"> Home page </a>
<div>
    <h3>My orders:</h3>
    <ul>
        {% for order in object_list %}
        <li>
            <h4>
                Order number: {{ order.pk }}
            </h4>
            <p>{{ order.product.name }}</p>
            <p>Price per item: {{ order.product.price}} </p>
            <p>Quantity: {{ order.product_amount }} </p>
            <form method="post" action="{% url 'return' order.pk %}">
                {% csrf_token %}
                <input type="submit" value="Return">
            </form>
            <hr>
        </li>
        {% empty %}
        <li>No orders yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}